{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}
{% block content %}
%} <br /><br /><br /><br /><br />

<form method="post">
  <div class="login-form">
    <h2>Register</h2>
    <label for="code">Student Code</label>
    <input type="text"name="code" id="code" required placeholder="Enter your student code">
    <br><br>

    <label for="username">Username</label>
    <input type="text"name="username" id="username" required placeholder="Enter your username">
    <br><br>

    <label for="password">Password</label>
    <input type="password" name="password" id="password" required placeholder="Enter your password">
    <br><br>
    <label for="repeat_password">Repeat Password</label>
    <input type="password" name="repeat_password" id="repeat_password" required placeholder="Repeat your password">
    <input type="submit" value="Register">
  </div>

</form>
{% endblock %}