{% extends 'base.html' %}

{% block title %}
Edit item - {{item['id']}}
{% endblock %}

{% block content %}
<br><br><br><br><br><br>
<form method="POST" enctype="multipart/form-data">
    <div class="login-form">
        <label for="name">Item Name: </label>
        <input type="text" id="name" name="name" value="{{item['name']}}">

        <label for="price">Item Price: </label>
        <input type="number" id="price" name="price" step="0.01" value="{{item['price']}}">

        <label for="quantity">Item Quantity: </label>
        <input type="number" id="quantity" name="quantity" step="1" value="{{item['quantity']}}">

        <input type="submit">

    </div>
</form>


{%endblock%}