{% extends 'base.html' %}

{% block title %}
Add an item
{% endblock %}

{% block content %}
<br><br><br><br><br><br><br><br>
<form method="GET">
    <div class="login-form">
        <label for="search">Search</label>
        <input type="text" id="search" name="search" placeholder="Search"><br><br>
        <a href="/shop/list" id="clear">Clear</a>
    </div>
</form>
<a href="?delete_all=1" id="delete">Delete all</a>

<ul class="items-list">
    
    {% for item in items%}
    <div class="item">
        <li>Item Name: {{item['name']}}</li>
        <li>Item Price: {{item['price']}}</li>
        <li>Item Quantity: {{item['quantity']}}</li>
        <li>Date and Time created: {{item['date_created']}}</li>
        <a href="?delete={{item['id']}}">Delete</a> <a href="?edit={{item['id']}}">Edit</a>
    </div>

    {% endfor%}

    {% if items | length == 0 %}
    <li>No items found!</li>
    {% endif %}
</ul>


{%endblock%}